

    /* header */
header
{
    background-color: rgba(7, 98, 173, 0.2);
    padding-bottom: 40px;
}

/* en-tête */
div[class="entete"]
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

/* logo */
div[class="logo"]
{
    height: 50px;
    width: 50px;
}

div[class="image_logo"]
{
    height: 100%;
}

img[class="img_logo"]
{
    width: 50px;
    height: 50px;
}

/* connexion inscription */
nav[class="sign"]
{
    width: 35%;
    margin-top: 20px;
    border-radius: 20px;
}

nav[class="sign"] ul
{
    height: 40px;
}

nav[class="sign"] ul a
{
    text-decoration: none;
    list-style-type: none;
    color: white;
    text-align: center;
    background-color: rgb(151, 13, 13);
}

nav[class="sign"] ul a[class="connexion"]
{
    border-right: 3px solid rgba(7, 98, 173, 0.711);
}

/* apparence au survol */
nav[class="sign"] ul a:hover
{
    background-color: rgba(7, 98, 173, 0.711);
    border-right: 3px solid rgb(151, 13, 13);
}

nav[class="sign"] ul a[class="inscription"]:hover
{
    background-color: rgba(7, 98, 173, 0.711);
    border-right: none
}

/* navigation */
nav
{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

nav>ul
{
    display: flex;
    flex-direction: row;
    height: 22%;
    width: 100%;
    padding: 0px;
    margin: 0;
    background-color: rgb(151, 13, 13); 
}

nav>ul>a
{  
    width: 100%;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid rgb(151, 13, 13);
    background-color: rgba(7, 98, 173, 0.711);
    padding-top: 10px;
}

nav>ul>a[class="lien3"]
{
    border-right: none;
}

nav>ul>a:hover 
{
    background-color: rgba(7, 98, 173);
}

nav ul
{
    list-style-type: none;
}


nav li
{
    color: white;
    font-size: medium;
    width: 100%;
    height: 100%;
}

/* main */

/* images_slides */
section[class="images_slides"]
{
    width: 100%;
    height: 550px;
    background-size: auto;
    animation: slide 15s ease-in-out infinite both;
}

div[class="img_slides"]
{
    width: 100%;
    height: 0px;
    background-size: auto;
    animation: slide 30s ease-in-out infinite both;
}

/* effet survol des images */
section[class="images_slides"]:hover div[class="img_slides"]:hover
{
    animation-play-state: running;
}

/* images des slides opacité et assombrissement */
@keyframes slide 
{
    0%{background-image: url("../Images/slides/slide1.jpg") ;}
    33.33%{background-image: url("../Images/slides/slide2.jpg");}  
    66.67%{background-image: url("../Images/slides/slide3.jpg");}  
    100%{background-image: url("../Images/slides/slide1.jpg");}  
}

/* texte_slides */
div[class="text_slides"]
{
    padding-top: 225px;
    padding-bottom: 225px;
    color: white;
    display: flex;
    flex-direction: column;
}

div[class="text_slides"] h1
{
    background-color: rgba(7, 98, 173, 0.711);
    height: 40px;
    width: 40%;
    margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 100px 100px 0px 0px ;
    text-align: center;
    font-size: 100%;

}

div[class="text_slides"] h1+p
{
    text-align: center;
}

div[class="text_slides"] h3
{
    background-color: rgb(151, 13, 13);
    height: 40px;
    width: 40%;
    margin-left: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px 0px 100px 100px ;
    text-align: center;
    font-size: 100%;
}


/* section offres */ 
section[class="nos_offres"]
{
    background-color: rgba(7, 98, 173, 0.2);
    padding-top: 20px;
}

div[class="offres"]
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/* article offres */
div[class="offres"] article
{
    box-shadow: 0px 5px 5px rgba(7, 98, 173, 0.711);
    margin-top: 100px;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* images offres */
div[class="image_offre"]
{
    width: 50%;
    text-align: center;
}

div[class="image_offre"] img
{
    width: 50%;
    height: 50%;
}

/* texte offre */
div[class="text_offre"]
{
    background-color: rgba(7, 98, 173, 0.711); 
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div[class="text_offre"] h3
{
    margin-top: 0px;
}

/* button des offres */
button[class="btn_plus"]
{
   float: right;
   background-color: rgb(151, 13, 13);
   height: 30px;
   border-radius: 10px;
   cursor: pointer;
}

button[class="btn_apply"]
{
   float: left;
   background-color: rgb(151, 13, 13);
   height: 30px;
   border-radius: 10px;
   cursor: pointer;
}

button[class="btn_apply"] a
{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

button[class="btn_plus"] p
{
    margin: 0px;
    color: white;
}

button[class="btn_apply"] p
{
    margin: 0px;
    color: white;
}

/* section rechercher */

/* label et input */
section[class="search"]
{
    background-color: rgba(7, 98, 173, 0.2);
    padding-bottom: 105px;
    padding-top: 105px;
    height: 150px;
    box-shadow: 5px 5px 5px rgb(151, 13, 13);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div[class="search_field"]
{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

div[class="search_field"] label
{
    font-size:x-large;
}

div[class="search_field"] input
{
    height: 36px;
    width: 70%;
}

/* bouton */
div[class="button_search"]
{
    height: 40px;
    width: 100px;
    
}

div[class="button_search"] button
{
    height: 40px;
    width: 100%;
    background-color: rgb(151, 13, 13);
    border-radius: 10px;
    cursor: pointer;
}

div[class="button_search"] button span
{
    color: white;
    font-size: medium;
}

/* Description complète et autres  */ 

.display_field
{
    background-color: rgba(7, 98, 173, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

/*.lorem.more .display_field
{
    display: block;
}

button[class="btn_plus"]:checked ~ .display_field
{
    display: block;
}

div[class="display_field"] p, div[class="display_field"] h1
{
    margin-left: 20px;
    margin-right: 20px;
}
*/
div[class="display_field"] h3+p span
{
    text-align: center;
}

/* footer */
footer
{
    background-color: rgba(7, 98, 173, 0.2);
    height: 100px;
    width: 100%;
    padding-bottom: 23px;
}

footer p
{
    padding-top: 80px;
    float:right
}
